@media (min-width:640px) { #landing {

    background-image:url("../../obrazy/landing/landingWhite1.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    min-height:92vh;
    background-position: left;
    }
}
@media (max-width:640px) { #landing {

    background-image:url("../../obrazy/landing/landingWhite1mobile1.png");
    background-size:cover;
    
    background-repeat:no-repeat;
    min-height:100vh;

    }
    .footer{
        min-width: fit-content;

    }
}
#landing2{
    background-image:url("/landing/landing2/landing2.png");
    background-size:cover;
    background-repeat:no-repeat;
    min-height:100%;
    background-position: left;


}
#btn-zapisz {
    border:1px solid #4D4D4D;

}
.footer{
    position: fixed;
    bottom: 0;
    right: 0;
    background-color:#4D4D4D;
    color:white;
    word-spacing: 3em;
}