@media (min-width:640px) { #landing {

    background-image:url("../../obrazy/landing/landingWhite1.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    min-height:100vh;
    background-position: left;
    }
}
@media (max-width:640px) { #landing {

    background-image:url("../../obrazy/landing/landingWhite1mobile1.png");
    background-size:cover;
    background-repeat:no-repeat;
    min-height:100vh;

    }
}
#landing2{
    background-image:url("/landing/landing2/landing2.png");
    background-size:cover;
    background-repeat:no-repeat;
    min-height:100%;
    background-position: left;


}